<% provide(:title, 'to do') %>
<h1 class="text-center page-title"><%= @user.user_name %> の全タスク</h1>

<%= will_paginate @tasks %>
<div class="row">
  <% @tasks.each do |task| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="card-header"><%= task.title %></div>
          <p class="card-text"><strong>説明:</strong> <%= task.description %></p>
          <p class="card-text"><strong>締切日:</strong> <%= task.due_date %></p>
          <p class="card-text"><strong>達成状況:</strong> <%= task.completed ? "完了" : "未完了" %></p>

          <% if task.repetition.present? %>
            <p class="card-text">
              <strong>繰り返し:</strong>
              <% repetition = JSON.parse(task.repetition) rescue {} %>
              <% if repetition["type"] == "weekly" %>
                毎週 <%= translate_days_to_japanese(repetition["days"]) %> 曜日
              <% elsif repetition["type"] == "monthly" %>
                毎月 <%= repetition["days"].join(" ") %> 日
              <% end %>
            </p>
          <% end %>

          <div class="d-flex justify-content-between">
            <%= link_to '詳細', user_task_path(@user, task), class: "btn btn-main" %>
            <%= link_to '編集', edit_user_task_path(@user, task), class: "btn btn-main" %>
            <%= link_to '削除', user_task_path(@user, task), 
             data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか?" }, 
             class: "btn btn-delete" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @tasks, class: 'pagination-custom' %>

<%= link_to '新規作成', new_user_task_path(@user), class: "btn btn-accent" %>
<%= link_to '戻る', 'javascript:history.back()', class: "btn btn-secondary" %>