<% provide(:title, 'to do') %>
<h1><%= @user.user_name %> のタスク</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明</th>
      <th>締切日</th>
      <th>達成</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= task.completed %></td>
        <td><%= link_to '編集', edit_user_task_path(@user, task) %></td>
        <td><%= link_to '削除', user_task_path(@user, task), data: { "turbo-method": :delete,
                                                               turbo_confirm: "本当に削除しますか?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規作成', new_user_task_path(@user) %>