<% provide(:title, 'to do details') %>
<h1>タスクの詳細</h1>

<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>締切日:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>達成:</strong>
  <%= @task.completed ? 'Yes' : 'No' %>
</p>

<%= link_to '編集', edit_user_task_path(@user, @task) %> |
<%= link_to '戻る', user_tasks_path(@user) %>