  <div class="row mt-4">
    <!-- ユーザー情報 -->
    <%= render 'users/show_details/user_information' %>
    <!-- 目標 -->
    <%= render 'users/show_details/goals' %>
  </div>

  <div class="row mt-4">
    <!-- 今日のToDo -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><%= Date.today %>のToDo</div>
        <div class="card-body">
          <ul class="list-group">
            <% if @tasks_today.count > 0 %>
              <% @tasks_today.each do |task| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= link_to task.title, user_task_path(@user, task) %>
                  <% if task.completed? %>
                    <p>達成済み</p>
                  <% else %>
                    <p>未達成</p>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              タスクがありません
            <% end %>
            <%= link_to "タスクの作成", new_user_task_path(@user) %>
            <%= link_to "今週のタスク", week_user_tasks_path(@user) %>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- 今日の達成率 -->
    <%= render 'users/show_details/completion_today' %>
  </div>

  <div class="row mt-4">
    <!-- 達成率 -->
    <%= render 'users/show_details/completion_graph' %>

    <!-- アバター -->
    <%= render 'users/show_details/user_avatar' %>
  </div>