<% provide(:title, 'Profile edit') %>
<h1>プロフィールの編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :goal %>
      <%= f.text_field :goal, class: 'form-control' %>

      <%= f.label :goal_due_date %>
      <%= f.date_field :goal_due_date, class: 'form-control' %>

      <%= f.submit "プロフィールの更新", class: "btn btn-main" %>
    <% end %>
  </div>
</div>
