<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container header">
    <!-- ロゴ -->
    <%= link_to "VoyagePath", root_path, id: "logo" %>

    <% if logged_in? %>
      <!-- ハンバーガーアイコン -->
      <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- ドロップダウンメニュー -->
      <div class="dropdown-menu dropdown-menu-right" id="navbarAccountMenu">
        <!-- ログインしてるユーザーページかどうかで場合分け -->
        <% if current_user?(@user) %>
          <h3 class="dropdown-header"><%= @user.user_name %> <span>レベル: <%= @user.level %></span></h6>
          <%= link_to @user, class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-house"></i> ダッシュボード
          <% end %>
          <%= link_to new_user_task_path(@user), class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-pencil"></i> タスクの作成
          <% end %>
          <%= link_to week_user_tasks_path(@user), class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-check-square"></i> 今週のタスク
          <% end %>
          <%= link_to user_tasks_path(@user), class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-check-square"></i> 全てのタスク
          <% end %>
          <%= link_to users_path, class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-people"></i> ユーザー共有
          <% end %>
          <%= link_to avatars_path, class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-emoji-smile"></i> 全てのアバター
          <% end %>
          <%= link_to user_user_avatars_path(@user), class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-emoji-smile"></i> 所持アバター
          <% end %>
          <%= link_to edit_user_path(@user), class: "dropdown-item hover-effect text" do %>
            <i class="bi bi-gear"></i> 設定
          <% end %>
          <div class="dropdown-divider"></div>
        <% end %>
        <button class="night-mode-toggle dropdown-item hover-effect text">
          <i class="bi bi-moon-fill"></i> ナイトモード
        </button>
        <%= link_to logout_path, class: "dropdown-item hover-effect text" ,data: { "turbo-method": :delete ,turbo_confirm: "本当にログアウトしますか?"} do %>
          <i class="bi bi-box-arrow-right"></i> サインアウト
        <% end %>
      </div>
    <% else %>
      <!-- ログインしていない場合のログインリンク -->
      <div class="nav navbar-nav navbar-right">
        <% if yield(:title) == 'Log in'%>
          <%= link_to "新規登録", signup_path, class: "btn btn-accent" %>
        <% else %>
          <%= link_to "ログイン", login_path, class: "btn btn-accent" %>
        <% end %>
      </div>
    <% end %>
  </div>
</header>