<% unless yield(:title) == 'Home' || yield(:title) == 'Log in' || yield(:title) == 'Sign up' %>
  <nav class="col-12 col-md-2 d-none d-md-block app-sidebar">
    <div class="sidebar container">

      <div class="sidebar-title">
        <%= link_to "VoyagePath", root_path, id: "logo" %>
      </div>

      <div class="sidebar-header">
        <% if @user.active_avatar.present? %>
          <%= image_tag @user.active_avatar.image_path, alt: @user.active_avatar.avatar_name, class: "avatar" %>
        <% else %>
          <i class="bi bi-person-circle default-avatar"></i>
        <% end %>
        <h2 class="username"><%= @user.user_name %></h2>
        <h2 class="username">レベル: <%= @user.level%></h3>
      </div>

      <ul class="nav flex-column">
        <li class="nav-item hover-effect">
          <%= link_to @user, class: "nav-link primary-text" do %>
            <i class="bi bi-house"></i> ダッシュボード
          <% end %>
        </li>
        <li class="nav-item hover-effect">
          <%= link_to user_tasks_path(@user), class: "nav-link primary-text" do %>
            <i class="bi bi-check-square"></i> ToDo
          <% end %>
        </li>
        <li class="nav-item hover-effect">
          <%= link_to users_path, class: "nav-link primary-text" do %>
            <i class="bi bi-people"></i> ユーザー共有
          <% end %>
        </li>
        <li class="nav-item hover-effect">
          <a href="#" id="avatar" class="dropdown-toggle nav-link primary-text">
          <i class="bi bi-emoji-smile"></i> アバター <b class="caret"></b>
        </a>
        <ul id="dropdown-menu" class="dropdown-menu">
          <li class="nav-item hover-effect">
            <%= link_to avatars_path, class: "nav-link primary-text" do %>
              <i class="bi bi-emoji-smile"></i> 全てのアバター
            <% end %>
          </li>
          <li class="nav-item hover-effect">
            <%= link_to user_user_avatars_path(@user), class: "nav-link primary-text" do %>
              <i class="bi bi-emoji-smile"></i> 所持アバター
            <% end %>
          </li>
        </ul>
        <li class="nav-item hover-effect">
          <%= link_to edit_user_path(@user), class: "nav-link primary-text" do %>
            <i class="bi bi-gear"></i> 設定
          <% end %>
        </li>
      </ul>

      <div class="sidebar-footer">
        <button class="night-mode-toggle">
          <i class="bi bi-moon-fill"></i>
        </button>
        <%= link_to logout_path, class: "logout" ,data: { "turbo-method": :delete , turbo_confirm: "本当にログアウトしますか?"} do %>
          <i class="bi bi-box-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>